@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

body, html{
    margin: 0;
    padding: 0;
}

.pannel{
    margin-top: -2em;
    height: 110vh;
    background-color: rgb(4, 25, 71);
    color: white;
    text-align: center;
}

.pannel > .pannel-content {
    height: 100%;
}

.pannel-content > .content-wrapper{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kanit';
    text-align: left;
}

.content-wrapper > p {
    margin: 0;
}

.opacity { 
    color: rgba(255, 255, 255, 0.59);
}

.content-wrapper > #tx1 {
    font-size: 1em;
}

.content-wrapper > #tx2 {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: .05em;
}

.content-wrapper > #tx3 {
    font-size: 4em;
}

.top-bar{
    top: 0;
    position: fixed;
    min-width: 100%;
    min-height: 4em;
    display: flex;
    background-color: rgb(4, 25, 71);
    justify-content: space-between;
}

.top-bar > .menu-container {
    color: white;
    display: flex;
    padding-right: 5em;
    align-items: flex-end;
    justify-content: end;
    min-width: 50%;
}

.top-bar > .logo-container {
    display: inline-block;
    margin: auto;
    padding-left: 5em;
    width: 50%;
}

.logo-container > a {
    width: auto;
}

.logo-container > svg {
    width: 13em;
}

.list-container {
    padding-bottom: 1em;
}

.link-container {
    font-family: 'Kanit';
    border: 1px solid rgb(167, 179, 4);
    margin: .5em 0 .5em 0;
    padding: .5em;
}

.link-container > a {
    text-decoration: none;
    color: white;
}

.link-container > a > div > p {
    margin: 0;
}

.list-container > ol > li{
    float: left;
    list-style-type: decimal-leading-zero;
    padding-right: 5em;
    font-family: 'Source Code Pro';
}

.list-container > ol > li::marker {
    font-family: 'Source Code Pro';
    color: rgb(167, 179, 4);
    letter-spacing: .15em;
}

.list-container > ol > li > a {
    width: 100%;
    text-decoration: none;
    color: white;
}

.list-container > ol >li::after {
    content: '';
    display: block;
    border-bottom: solid 3px rgb(167, 179, 4);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.list-container > ol > li:hover::after{transform: scaleX(1);}

.white{
    background-color: white;
}

.padding-top-5{
    padding-top: 5em;
}

.title-container > p {
    text-align: left;
    color: black;
    margin: 0;
}

.row{
    justify-content: center;
    flex-direction: row !important;
}

.flex-row{
    width: 30%;
    height: 30% !important;
}

.title-container {
    font-size: 3em;
    height: 20% !important;
    padding-bottom: 1.5em;
}

.image-container > img {
    width: 15em;
    border-radius: 50%;
}

.description-container {
    color: black;
    text-align: left;
    float: right;
    width: 70%;
    padding-left: 2em;
    padding-top: 8em;
}

.content-container {
    display: flex;
    flex-direction: column;
    float: left;
}

.pannel-content { 
    width: 50%;
    margin: 0 auto;
}

.about-container {
    font-family: 'Kanit';
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.experience-container {
    font-family: 'Kanit'; 
    background-color: rgb(4, 25, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.experience-container > .title-container > p {
    color: white;
}

.experience-container > .content-container {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.experience-card {
    width: 50%;
    padding: 1em;
    background-color: white;
    border-radius: 15%;
    margin: 0 1em 0 1em;
}

.experience-card > .card-title > .title {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 0;
}

.experience-card > .card-title > .sub-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: black(151, 151, 151)
}

.experience-card > .card-title > .time {
    border-bottom: 1px solid rgb(167, 179, 4);
    margin-top: 0;
    color: rgb(151, 151, 151)
}

.experience-card > div > ul > li {
    list-style-type: circle;
    text-align: left;
    padding-bottom: 1em;
}

.projects-container{
    font-family: 'Kanit';
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.table-container{
    background-color: rgba(182, 182, 182, 0.479);
}

.table-container > table {
    width: 100%;
    color: black;
    border-collapse: collapse;
}

.table-container > table > tbody > tr {
    text-align: center;
    border: 1px solid black;
}

.table-container > table > tbody > .hidden {
    display: none;
}

.table-container > table > tbody > .clickable:hover{
    cursor: pointer;
    background-color: rgb(73, 73, 73);
    color: white
}

.table-container > table > tbody > tr > td {
    padding: 1em 0 1em 0;
}

.contact-container{
    font-family: 'Kanit';
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.contact-container > .title-container > p{
    color: white;
}

.contact-container > .list-container {
    color: white;
}

.contact-container > .infos-container > .map-container {
    width: 36%;
    float: left;
}

.contact-container > .infos-container > .details-container {
    width: 50%;
    height: 300px;
    float: right;
    display: flex;
    flex-direction: column;
}

.contact-container > .infos-container > .details-container > .links-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
}

.contact-container > .infos-container > .details-container > .links-container > div {
    padding: 0 1em 0 1em;
}

.contact-container > .infos-container > .details-container > .list-container {
    text-align: left;
    border: none !important;
}